<h1>Welcome <%=@user.name%></h1>

<p><%= @user.name %>'s Upcoming Events</p>

<% x = @user.events %>
<% y = x.uniq %>
<% y.each do |z| %>
<li><%= link_to "#{z.name}", event_path(z) %></li>
<br>
    <% end %>




    